.ppcl .header {
    background: url(//presspage-production-content.s3.amazonaws.com/templates/50/2138/header11.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
}

.ppcl .footer {
    background: url(//presspage-production-content.s3.amazonaws.com/templates/50/2138/687474703a2f2f692e696d6775722e636f6d2f5959374b4a73532e706e67.png) no-repeat center;
    background-size: contain;
    height: 300px;
}
