html,
body {
    overflow: unset;
    height: unset;
}

body {
    font-size: unset;
    line-height: unset;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

.title_big,
.title_big h2,
.title_big_headlines,
.pp_headline h3, .pp_headline_umbrella h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.title_big_headlines a,
.extras_headertitle_right a,
.pp_bigheadlines_title a {
    font: inherit;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.title_big:hover a {
    text-decoration: none;
}

.latestrelease_table .div_date_location,
.text_latestnews {
    margin: 0;
}

.td_latestrelease_thumbnail {
    margin-right: 0;
}

.td_headlines {
    padding: 0;
}

.title_big h2 {
    display: block;
}

.ppmodule_headlines {
    position: relative;
}

.headlines_small_icon {
    display: none;
}

.boxgrid_library_featured h3,
.headlinefeatured_date_text {
    color: #fff;
}

.boxgrid_library_featured h3 {
    margin: 0;
}

.table_headlines {
    display: flex;
}

.pp_headlines_iconset {
    margin-bottom: 0;
    margin-left: auto;
}

.pp_headlines_iconset {
    display: flex;
    align-items: flex-end;

    .pp_headlines_rss {
        order: 4;
    }

    .pp_headlines_icon {
        order: 3;
    }
    .headlines_prevnext:nth-child(3) {
        order: 2;
    }
    .headlines_prevnext:nth-child(4) {
        order: 1;
    }
}

@media (min-width: $small-min) {
    .td_headlines > div {
        display: flex;
        align-items: flex-start;
    }
}

.pp_headline_icon {
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
}

@media (max-width: $small-max) {
    .pp_date_divider.span_publishdate_divider,
    .pp_headline_icon {
        display: none;
    }

    .pp_publishdate {
        margin-bottom: $spacing-1;
        width: 100%;
    }
}

.pp_publishdate {
    display: flex;
}

.pp_headline {
    max-width: none;
    padding: 0;
}

.ie8 .pp_headline,
.ie9 .pp_headline {
    max-width: 70%;
}

.extras_newsroom_header,
.extras_header,
.div_extras,
.extras_footer {
    width: auto;
    height: auto;
    margin: 0;
}

.extras_content_right {
    width: auto;
    margin-left: 0;
    padding: 0;
}

table.contact_text {
    width: 100%;
}

.img_whiteborder {
    width: 75px;
    border: 0;
}

.div_contacts_image {
    padding: 0;
    background: none;
}

.contact_text_td {
    width: 75px;
}

.td_contactsinfo {
    width: auto;
}

.pp-extras-container {
    width: auto;
}

.pp-contact-avatar-image-container {
    margin-bottom: 0;
}

.pp-contact-avatar-job {
    margin-bottom: 0;
}

.pp-contact-avatar-icons > a {
    display: inline-block;
}

.pp-module-contact-avatar .extras_header {
    display: block;
}

.pp_extraphone_divider {
    display: none;
}

.pp_email {
    margin-top: 0;
    margin-bottom: 0;
}

.social_spacer_right {
    margin-right: 0;
}

.social_spacer_left {
    margin-left: 0;
}

.div_facebookicon,
.div_linkedinicon,
.div_twittericon,
.div_xingicon {
    margin-top: 0;
    float: none;
}

.contact_text_td > a {
    overflow: visible;
    display: inline-block;
    margin-left: $spacing-1;
    margin-top: $spacing-2;
    margin-bottom: $spacing-1;
    float: left;

    &:first-of-type {
        margin-left: 0;
    }
}

#pp-main,
#pp-main * {
    box-sizing: border-box;
}

.div_main_extras {
    height: unset;
    width: unset;
    padding: 0;
}

.content_main_case_right,
.content_main_client_right,
.content_main_case_left,
.content_main_client_left {
    margin: 0;
}

.content_main_case,
.content_main_client {
    padding: 0;
}

.pp-side-column {
    margin: 0;
    width: unset;
    vertical-align: unset;
}

.pp_date_day,
.pp_date_divider,
.pp_date_location,
.pp_date_month,
.pp_date_time,
.pp_date_timewrapper,
.pp_date_timezone,
.pp_date_year {
    margin-right: $spacing-1;
    margin-right: 5px;
}

.pp_email,
.pp_extraphone,
.pp_phonenumber {
    float: none;
}

// headlines list image reset hover

.headlinefeatured_date_text {
    display: none;
}

.caption_library_featured .boxcaption_library_featured {
    top: auto !important;
    bottom: 0;
    height: auto;
}

.boxcaption_library_featured {
    display: flex;
}

// side column responsive reset {
@media only screen and (max-width: 600px) {
    .extras_headertitle, .extras_headertitle_right {
        padding: 0;
    }

    .pp-main-column .pp-extras-container.pp-contact-avatars-container {
        margin-left: -2%;
        max-width: 105%;
    }

    .pp-main-column .pp-contact-avatar {
        width: 48.05%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .pp_bigheadlines_date,
    .pp_bigheadlines_more,
    .pp_bigheadlines_tags,
    .pp_bigheadlines_text,
    .pp_bigheadlines_title {
        padding-left: 0;
    }
}

@media only screen and (max-width: $x-small-max) {
    .pp-main-column .pp-extras-container.pp-contact-avatars-container {
        margin-left: 0;
        max-width: 100%;
    }

    .pp-main-column .pp-contact-avatar {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}

// headlines scroll

.pp_bigheadlines_container {
    float: none;
    margin-top: 0;
    height: auto !important;
    overflow: initial;
}

.pp_big_headlines_item_container {
    margin-left: 0;
    max-width: 100%;
}

.mm_listitem {
    min-height: 0;
    overflow: auto;

    @media (min-width: $x-small-min) {
        display: flex;
    }
}

.mm_listitem .pp_unit {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.pp_bigheadlines_data {
    height: auto;
    overflow: initial;
}

.pp_bigheadlines_end {
    background: 0;
    text-align: center;
    position: relative;
}

.pp_bigheadlines_buttons {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 5px;
}

.pp_bigheadlines_buttons a {
    width: auto;
    height: auto;
    display: inline-block;
    border: 0;
    text-decoration: none;
}

html[lang='en'] .pp_bigheadlines_buttons .pp_button_grey:after {
    content: "Show next";
}

a.pp_button_grey_back:after {
    content: "\f106";
    margin-top: 5px;
}

.pp_button_grey_back.pp_button_grey_back {
    display: none;
}

.pp_button_grey:after {
    margin-top: 5px;
    margin-left: 1px;
}
