#maintable {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;
}

#maintable,
.widthcorrection {
    max-width: $page-width;
    padding-left: $spacing-3;
    padding-right: $spacing-3;
}

.pp-main-column .pp_moduleblock {
    margin-bottom: $main-modules-spacing;
}

.pp-side-column .pp_moduleblock {
    margin-bottom: $side-modules-spacing;
}

.pp-main-column {
    margin: 0;
    width: unset;
}

@media (min-width:$small-min) {
    #maintable {
        flex-direction: row;
    }
    .pp-main-column {
        flex: 3;
    }
    .pp-side-column {
        flex: 1;
        margin-right: $spacing-3;
    }
}

@media (max-width:$small-max) {
    .pp-side-column+.pp-main-column {
        order: -1;
    }
}
